    #sec {
        padding: 1% 25% 10%;
        background-color: #00674c;
        color: #00674c;
    }
    
    #card {
        padding: 5% 10% 5%;
        color: 00674c;
        margin-left: auto;
        margin-right: auto;
        height: 420px;
        width: 450px;
    }
    
    #navi,
    #logo {
        background-color: #00674c;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #da,
    #log,
    #sign #email,
    #pass {
        color: #00674c;
    }